<!-- Bloc d'entête avec d'informations en ligne -->
<div class="actor-infos">
    <div class="actor-infos-grid">
        <label>NOM :</label>
        <input name="name" type="text" value="{{actor.name}}" placeholder="Nom"/>
        <label>Prénoms :</label>
        <input name="data.prenom" type="text" value="{{data.data.prenom}}" placeholder="Prénoms"/>
        <label>AGE :</label>
        <input name="data.age" type="number" value="{{data.data.age}}" placeholder="Age"/>
        <label>SEXE :</label>
        <input name="data.sexe" type="text" value="{{data.data.sexe}}" placeholder="Sexe"/>
        <label>TAILLE :</label>
        <input name="data.taille" type="number" value="{{data.data.taille}}" placeholder="Taille"/>
        <label>Description :</label>
        <!-- {{editor content=data.data.description target="data.description" button=true owner=true editable=true}} -->
        <textarea name="data.description" placeholder="Description"/>{{data.data.description}}</textarea>
        <label>Couleur des cheveux :</label>
        <input name="data.couleurCheveux" type="text" value="{{data.data.couleurCheveux}}" placeholder="Couleur des cheveux"/>
        <label>Couleur des yeux :</label>
        <input name="data.couleurYeux" type="text" value="{{data.data.couleurYeux}}" placeholder="Couleur des yeux"/>
    </div>
</div>        