<div class="actor-caracsSec">
    <div class="actor-caracsSec-grid">
        <label>CARACTERISTIQUES SECONDAIRES</label>
        <div></div>
        <div></div>
        <div class="actor-caracsSec-line-valMax">
            <label>STRESS : </label>
            <input name="system.stress.value" type="number" value="{{data.system.stress.value}}" placeholder="0"/><label class="separateur">/</label><input name="system.stress.max" type="number" value="{{data.system.stress.max}}" placeholder="0"/>
        </div>
        <div></div>
        <div class="actor-caracsSec-line-valMax">
            <label>SANTE PHYSIQUE : </label>
            <input name="system.sante.value" type="number" value="{{data.system.sante.value}}" placeholder="0"/><label class="separateur">/</label><input name="system.sante.max" type="number" value="{{data.system.sante.max}}" placeholder="0"/>
        </div>
        <div class="actor-caracsSec-line">
            <label>DEFENSE PASSIVE : </label>
            <input name="data.defense" type="number" value="{{data.data.defense}}" placeholder="0"/>
        </div>
        <div></div>
        <div class="actor-caracsSec-line">
            <label>POINTS DE DRAME : </label>
            <input name="data.drame" type="number" value="{{data.data.drame}}" placeholder="0"/>
        </div>
    </div>
</div>