<!-- Bloc d'entête avec d'informations en ligne -->
<div class="actor-infos">
    <div class="actor-infos-grid">
        <label>NOM :</label>
        <input name="name" type="text" value="{{actor.name}}" placeholder="Nom"/>
        <label>Prénoms :</label>
        <input name="system.prenom" type="text" value="{{data.system.prenom}}" placeholder="Prénoms"/>
        <label>AGE :</label>
        <input name="system.age" type="number" value="{{data.system.age}}" placeholder="Age"/>
        <label>SEXE :</label>
        <input name="system.sexe" type="text" value="{{data.system.sexe}}" placeholder="Sexe"/>
        <label>TAILLE :</label>
        <input name="system.taille" type="number" value="{{data.system.taille}}" placeholder="Taille"/>
        <label>Description :</label>
        <!-- {{editor data.system.description target="system.description" button=true owner=true editable=true}} -->
        <textarea name="system.description" placeholder="Description"/>{{data.system.description}}</textarea>
        <label>Couleur des cheveux :</label>
        <input name="system.couleurCheveux" type="text" value="{{data.system.couleurCheveux}}" placeholder="Couleur des cheveux"/>
        <label>Couleur des yeux :</label>
        <input name="system.couleurYeux" type="text" value="{{data.system.couleurYeux}}" placeholder="Couleur des yeux"/>
    </div>
</div>        