<form>
    <div class="titre"><label>Caractérique pour ce jet avec '{{trait.name}}'</label></div>
    <div class="grid-data">
        <label>Caractéristique</label>
        <div class="data">
            <select name="carac">
            {{#select carac}}
                {{#each cfgData.caracteristiques as |caracteristique keyCarac|}}
                    {{#if (eq keyCarac ../trait.system.caracteristique)}}
                        <option value="{{keyCarac}}" selected>{{caracteristique}}</option>
                    {{else}}
                        <option value="{{keyCarac}}">{{caracteristique}}</option>
                    {{/if}}
                {{/each}}
            {{/select}}
            </select> 
        </div>
    </div>
</form>